<div class='row'>
  <h1> Last Updated <%= @time %></h1>
  <ul>
  <% @companies.each do |company| %>
    <li><h3><%= link_to company.name, company_path(company.id), class: 'job' %></h3></li>
  <% end %>
  </ul>
</div>
